<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - {{ site.title }}</title>

   <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css" >

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="{{ site.url }}/js/bootstrap.min.js"></script>
   apa
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="images/rawcopyico.png" style="width:69.0px;height:54.16666px; margin-top:3px; margin-bottom:2px;">
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index">Home</a></li>
            <li><a href="install">Install</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="content">
        {{ content }}
      </div>
    </div><!-- /.container -->

</body>
</html>
